
<html>
	<body>
		 <!-- footer start -->
		 <div id="footer" th:fragment="footer">
			<div class="footer-content left company">
			  <p><i class="fa fa-home"></i> Hustle Company</p>
		  </div>
		  <div class="footer-content left">
			<p><i class="fa fa-envelope"></i> You can email us at: emarket.teamhustle@gmail.com</p>
		</div>
		  
		<div class="footer-content right">
			<p>&#169;All Rights Reserved: 2021-2022</p>
		</div>
		<div class="footer-content right">
			<p><i class="fa fa-phone"></i> You can give us a call at: 0111-111-1111</p>
		</div>
		
		</div>

		<!-- footer end -->
	</body>
</html>