<!--topbar start-->
		<div id="topbar" th:fragment = "topbar">
			<ul>
			<li><a href="/">
				<img id="logo" th:src="@{/emarket-page/indexlogo.svg}"/>
			</a></li>
			<div class="options-section">
				<li><a href=""><span>Home</span></a></li>
				<li><a href="#about"><span>About</span></a></li>
				<li><a href="#links"><span>Register</span></a></li>
				<li><a href="#footer"><span>Contact Us</span></a></li>
				<div id="login">
				<li><a th:href="@{/login}"><span>Login</span></a></li>
			</div>
			</div>
			</ul>
		</div>
		<!-- topbar end -->