<!--topbar start-->
		<div id="topbar" th:fragment = "topbar">
			<ul>
			<li><a href="">
				<img id="logo" th:src="@{/emarket-page/logo.png}"/>
				<div class="spacer"></div>
				<img id="logo-name" th:src="@{/emarket-page/logoname.png}" alt=""/>
			</a></li>
			<div class="topbar-section"></div>
			<li><a href="">Home</a></li>
			<div class="topbar-section"></div>
			<li><a href="">Links</a></li>
			<div class="topbar-section"></div>
			<li><a href="">Forum</a></li>
			<div class="topbar-section"></div>
			<li><a href="">About</a></li>
			</ul>
		</div>
		<!-- topbar end -->