#footer
{
    min-height: 50px;
    background-color: #ffffff;
    display: block;
}
#footer .footer-content
{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #00b761;
    
}
.left
{
    float: left;
}
.right
{
    float: right;
}

/* for the tablet */
@media only screen and (min-width:470px) and (max-width:1143px)
{
    #footer .right
    {
        display: none;
    }

}

/* for the mobile */
@media only screen and (max-width:570px)
{

    #footer .right
    {
        display: none;
    }

    #footer .company
    {
        display: none;
    }
}

