#footer
{
    height: 50px;
    background-color: #ffffff;
}
#footer .footer-content
{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    color: #00b761;
    
}
.left
{
    float: left;
}
.right
{
    float: right;
}

