<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Rider SignUp Form</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" th:href="@{/css/topbar.css}" />
		<link rel="stylesheet" th:href="@{/css/footer.css}" />
		<link rel="stylesheet" th:href="@{/css/signup.css}" />
		
    </head>
    <body>
        <!--topbar start-->
		<!-- <div th:replace="topbar :: topbar"></div> -->
		<!-- topbar end -->

        <!-- form-container start -->
        <div class="form-container">

            <!-- form start -->
            <form action="#" th:action = "@{/riders/save}"
                  th:object = "${rider}" method="post" enctype="multipart/form-data">

                  <!-- step container start -->
                  <div id="step1" class="step-container">
                    <h3>Rider Information</h3>

                    <input type="hidden" th:field = "*{id}">
    
                    <input type="text" th:field = "*{firstName}"
                            class="form-field" placeholder="First Name" required>
    
                    <input type="text" th:field = "*{lastName}"
                        class="form-field" placeholder="Last Name" required>
    
                    <input type="text" th:field = "*{username}"
                        id = "username" class="form-field" placeholder="Username" required>
    
                    <input th:field = "*{password}" type="password"
                        id="password1" class="form-field" placeholder="Password" required>
                            
                    <input type="password"
                        id="password2" class="form-field" placeholder="Confirm Password" required>

                    <!-- btn-box div start -->
                    <div class="btn-box">
                        <button type="button" id="next1">Next</button>
                    </div>
                    <!-- btn-box div end -->
                    
                  </div>

                  <!-- step container end -->

                  <!-- step container 2 start -->
                  <div id="step2" class="step-container">
                    <h3>Rider Contact Details</h3>

                    <input type="hidden" th:field = "*{riderDetail.id}">
    
                    <input type="email" th:field = "*{riderDetail.email}"
                            class="form-field" placeholder="Email"
                            id="email" required>
    
                    <input type="text" th:field = "*{riderDetail.phoneNumber}"
                        class="form-field" placeholder="Phone Number" required>


                    <input type="number" th:field = "*{riderDetail.age}"
                        class="form-field" placeholder="Age"
                        id="age" required>
                    
                        

                    <input type="text" th:field = "*{riderDetail.gender}"
                        class="form-field" placeholder="Gender" required>

                    <input type="text" th:field = "*{riderDetail.dateOfBirth}"
                        class="form-field" placeholder="Date of Birth"
                        onfocus="this.type = 'date'" onchange="this.type = 'text'" required>

                    <!-- btn-box div start -->
                    <div class="btn-box">
                        <button type="button" id="back1">Back</button>
                        <button type="button" id="next2">Next</button>
                    </div>

                    <!-- btn-box div end -->
                    
                  </div>

                  <!-- step container 2 end -->

                  <!-- step container 3 start -->
                  <div id="step3" class="step-container">
                    <h3>Rider Assignment</h3>
                    <div id="station"> 
                        <label for="storeAddress">Location Assignment:</label>
                        <select name="station"
                            th:field = "*{riderDetail.station}"
                            class="form-field">
                        <option value="Mandaue">Mandaue</option>
                        <option value="Lapu-Lapu">Lapu-Lapu</option>
                        </select>
                        <hr>
                    </div>
    
                    <p id="instruction">Documents* Scan your Driver's License, front and back.
                        Scan the registration of your motorcycle, put them in one pdf file and 
                        send it here.</p>
                    <input type="file" id="file" name="file"
                        class="form-field" placeholder="Documents" required>
    

                    <!-- btn-box div start -->
                    <div class="btn-box">
                        <button type="button" id="back2">Back</button>
                        <button type="submit" id="submit">Submit</button>
                    </div>
                    <!-- btn-box div end -->
                    
                  </div>

                  <!-- step container 3 end -->


            </form>
            <!-- form end -->

            <!-- step-row start -->
            <div class="step-row">
                <div id="progress"></div>
                <div class="step-col"><small>Step 01</small></div>
                <div class="step-col"><small>Step 02</small></div>
                <div class="step-col"><small>Step 03</small></div>
            </div>
            </div>
            </div>
            <!-- step-row end -->

        </div>
        <!-- form-container end -->


        <!-- footer start -->
		   <!-- <div th:replace="footer :: footer"></div> -->
		<!-- footer end -->

          <script type="text/javascript" th:src="@{/js/signup.js}"></script>
    </body>
</html>