<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>Emerkado Administrator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--google material icon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="body-overlay"></div>

      <!-- sidebar start -->
      <nav th:replace="admins/sidebar :: sidebar"></nav>
      <!-- sidebar end -->

      <!-- Page Content  -->
      <div id="content">
        <!-- topbar start -->
        <div th:replace = "admins/topbar :: admin-topbar"></div>
        <!-- topbar end -->

        <div class="main-content">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header">
                  <div class="icon icon-warning">
                    <span class="material-icons">person_add</span>
                  </div>
                </div>
                <div class="card-content">
                  <p class="category">
                    <strong>Seller Request</strong>
                  </p>
                  <h3 class="card-title" th:text="${sellerRequestCount}"></h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">info</i>
                    <a th:href="@{/admins/seller-requests?searchField=authorized&field=creationDate}">View requests</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header">
                  <div class="icon icon-warning">
                    <span class="material-icons">person_add</span>
                  </div>
                </div>
                <div class="card-content">
                  <p class="category">
                    <strong>Rider Request</strong>
                  </p>
                  <h3 class="card-title" th:text="${riderRequestCount}"></h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons text-info">info</i>
                    <a th:href="@{/admins/rider-requests?searchField=authorized&field=creationDate}">View requests</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header">
                  <div class="icon icon-rose">
                    <span class="material-icons">flag</span>
                  </div>
                </div>
                <div class="card-content">
                  <p class="category"><strong>Transaction</strong></p>
                  <h3 class="card-title" th:text="${transactionCount}"></h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">info</i> 
                    <a th:href="@{/admins/transactions}">View Transactions</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                <div class="card-header">
                  <div class="icon icon-success">
                    <span class="material-icons">
                      store
                    </span>
                  </div>
                </div>
                <div class="card-content">
                  <p class="category"><strong>Total Stores</strong></p>
                  <h3 class="card-title" th:text="${storeCount}"></h3>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <a th:href="@{/admins/store-list?searchField=overallStock&authorized=true&prohibited=false}"><i class="material-icons">info</i> View all stores</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class=" col-md-12">
              <div class="card" style="min-height: 485px;">
                <div class="card-header card-header-text">
                  <h4 class="card-title">Popular Store</h4>
                  <p class="category">
                    Popular stores according to number of sales
                  </p>
                </div>
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead class="text-primary">
                      <tr>
                        <th>ID</th>
                        <th>Store Name</th>
                        <th>Sold Stocks</th>
                        <th>City</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="store: ${stores}">
                        <td th:text="${store.id}"></td>
                        <td th:text="${store.storeName}"></td>
                        <td th:text="${store.overallStockSold}"></td>
                        <td th:text="${store.storeAddress}"></td>

                        
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- footer start -->
          <footer th:replace="admins/footer :: admin-footer"></footer>
          <!-- footer end -->
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
    <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>

    
  </body>
</html>
