<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>Emerkado Administrator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    
    
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--google material icon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="body-overlay"></div>

      <!-- sidebar start -->
      <nav th:replace="admins/sidebar :: sidebar"></nav>
      <!-- sidebar end -->

      <!-- Page Content  -->
      <div id="content">
        <!-- topbar start -->
        <div th:replace = "admins/topbar :: admin-topbar"></div>
        <!-- topbar end -->

        <div class="main-content">

          <!-- table start -->
          <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Rider <b>Requests</b></h2></div>

                        <div class="search-box">
                            <!-- <i class="material-icons">&#xE8B6;</i> -->
                            <input th:value="${searchPattern}" id="search-pattern" type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                        <a onclick="riderRequest()" id="search" class="search-button"
                        th:href="@{/admins/rider-requests?searchField=authorized&field=creationDate}"><i class="material-icons">&#xE8B6;</i></a>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="rider: ${riders}">
                          <td th:text="${rider.id}"></td>
                          <td th:text="${rider.firstName} + ${rider.lastName}"></td>
                          <td th:text="${rider.username}"></td>
                          <td th:text="${rider.riderDetail.email}"></td>
                          <td th:text="${rider.status}"></td>
                          <td>
                              <a th:target="_blank" th:href="@{/admins/documents?fileName=}+${rider.riderDetail.documents}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a onclick="return confirm('Are you sure you want to Verify this seller?')" 
                               th:href="@{/admins/verify-rider?riderId=} + ${rider.id}" class="verify" title="Verify" data-toggle="tooltip"><i class="material-icons">verified</i></a>
                              <a th:href="@{/admins/delete?entity=riders&id=} + ${rider.id}" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                          </td>
                        </tr>
                              
                    </tbody>
                </table>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                        <li class="page-item active"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> 

          <!-- table end -->
         

          <!-- footer start -->
          <footer th:replace="admins/footer :: admin-footer"></footer>
          <!-- footer end -->
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    
  </body>
</html>
