<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="icon" type="image/x-icon" th:href="@{/emarket-page/logo.png}">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>Emerkado Administrator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

    
    
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--google material icon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="body-overlay"></div>

      <!-- sidebar start -->
      <nav th:replace="admins/sidebar :: sidebar"></nav>
      <!-- sidebar end -->

      <!-- Page Content  -->
      <div id="content">
        <!-- topbar start -->
        <div th:replace = "admins/topbar :: admin-topbar"></div>
        <!-- topbar end -->

        <div class="main-content">

          <!-- table start -->
          <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-4"><h2>Seller <b>List</b></h2></div>
                          <label class="switch">
                            <input type="checkbox" id="prohibited" th:checked="${tableSwitch}">
                            <span class="slider"></span>
                          </label>
                          <div class="col-sm-3"><h2>Banned</h2></div>

                        <div class="search-box">
                            <!-- <i class="material-icons">&#xE8B6;</i> -->
                            <input th:value="${searchPattern}" id="search-pattern" type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                        <a onclick="sellerList()" id="search" class="search-button"
                        th:href="@{/admins/seller-list}"><i class="material-icons">&#xE8B6;</i></a>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Station</th>
                            <th>Store Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="seller: ${sellers}">
                          <td th:text="${seller.id}"></td>
                          <td th:text="${seller.firstName} + ' ' + ${seller.lastName}"></td>
                          <td th:text="${seller.username}"></td>
                          <td th:text="${seller.sellerDetail.email}"></td>
                          <td th:text="${seller.store.storeAddress}"></td>
                          <td th:text="${seller.store.storeName}"></td>
                          <td>
                              <a th:target="_blank" th:href="@{/admins/documents?entity=sellers&id=}+${seller.id}+@{&fileName=}+${seller.store.documents}" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                              <a id="prohibitAction" onclick="return confirm('Are you sure you wish to proceed?')" 
                               th:href="@{/admins/prohibit-seller?sellerId=} + ${seller.id}" class="prohibit-action" title="Disable" data-toggle="tooltip"><i class="material-icons prohibit-icons">block</i></a>
                              <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons ">&#xE872;</i></a>
                          </td>
                        </tr>
                              
                    </tbody>
                </table>
            </div>
        </div> 

          <!-- table end -->
         

          <!-- footer start -->
          <footer th:replace="admins/footer :: admin-footer"></footer>
          <!-- footer end -->
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script> -->
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
    <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    
  </body>
</html>
