    <!-- Sidebar start -->
    <nav id="sidebar" th:fragment = "sidebar">
        <div class="sidebar-header">
          <h3>
            <img th:src="@{/emarket-page/Logo.svg}" class="img-fluid" /><span
              >Administrator</span
            >
          </h3>
        </div>
        <ul class="list-unstyled components">
          <li class="active">
            <a th:href="@{/admins/dashboard}" class="dashboard"
              ><i class="material-icons">dashboard</i><span>Dashboard</span></a
            >
          </li>

          <div class="small-screen navbar-display">
            <li class="dropdown d-lg-none d-md-block d-xl-none d-sm-block">
              <a
                href="#homeSubmenu0"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle"
              >
                <i class="material-icons">notifications</i
                ><span> 4 notification</span></a
              >
              <ul class="collapse list-unstyled menu" id="homeSubmenu0">
                <li>
                  <a href="#">You have 5 new messages</a>
                </li>
                <li>
                  <a href="#">You're now friend with Mike</a>
                </li>
                <li>
                  <a href="#">Wish Mary on her birthday!</a>
                </li>
                <li>
                  <a href="#">5 warnings in Server Console</a>
                </li>
              </ul>
            </li>

            <li class="d-lg-none d-md-block d-xl-none d-sm-block">
              <a href="#"
                ><i class="material-icons">person</i><span>My Account</span></a
              >
            </li>
          </div>

          <li class="dropdown">
            <a
              href="#homeSubmenu1"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <i class="material-icons">manage_accounts</i
              ><span>Accounts</span></a
            >
            <ul class="collapse list-unstyled menu" id="homeSubmenu1">
              <li>
                <a th:href="@{/admins/seller-list?searchField=authorized&field=lastName&authorized=true&prohibited=false}">Sellers</a>
              </li>
              <li>
                <a th:href="@{/admins/customer-list?searchField=name&field=lastName}">Consumers</a>
              </li>
              <li>
                <a th:href="@{/admins/rider-list?searchField=name&field=lastName}">Riders</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a
              href="#pageSubmenu2"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <i class="material-icons">store</i><span>Market</span></a
            >
            <ul class="collapse list-unstyled menu" id="pageSubmenu2">
              <li>
                <a th:href="@{/admins/store-list?searchField=overallStock&storeAddress=Lapu-Lapu&authorized=true&prohibited=false}">Lapu-Lapu City</a>
              </li>
              <li>
                <a th:href="@{/admins/store-list?searchField=overallStock&storeAddress=Mandaue&authorized=true&prohibited=false}">Mandaue City</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a
              href="#pageSubmenu3"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <i class="material-icons">feedback</i>

              <span>Reports</span></a
            >
            <ul class="collapse list-unstyled menu" id="pageSubmenu3">
              <li>
                <a href="#">Lapu-Lapu City</a>
              </li>
              <li>
                <a href="#">Mandaue City</a>
              </li>
            </ul>
          </li>
          <li class="">
            <a href="#"
              ><i class="material-icons">percent</i><span>Promotions</span></a
            >
          </li>
          <li class="">
            <a href="#"
              ><i class="material-icons">logout</i><span>Logout</span></a
            >
          </li>
        </ul>
      </nav>


    <!-- sidebar end -->