<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="icon" type="image/x-icon" th:href="@{/emarket-page/logo.png}">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    />
    <title>Emerkado Administrator</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

    
    
    <!----css3---->
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
    
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!--google material icon-->
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="body-overlay"></div>

      <!-- sidebar start -->
      <nav th:replace="admins/sidebar :: sidebar"></nav>
      <!-- sidebar end -->

      <!-- Page Content  -->
      <div id="content">
        <!-- topbar start -->
        <div th:replace = "admins/topbar :: admin-topbar"></div>
        <!-- topbar end -->

        <div class="main-content">

          <!-- table start -->
          <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-9"><h2>Transaction <b>List</b></h2></div>

                        <div class="search-box">
                            <input th:value="${searchPattern}" id="search-pattern" type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                        <a onclick="transactionList()" id="search" class="search-button"
                        th:href="@{/admins/transactions?value=}"><i class="material-icons">&#xE8B6;</i></a>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Customer</th>
                            <th>Delivery Fee</th>
                            <th>Service Fee</th>
                            <th>Promotion</th>
                            <th>Total</th>
                            <th>Status</th>
                            <th>Station</th>
                            <th>Date</th>
                            <th>Rider</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaction: ${transactions}">
                          <td th:text="${transaction.id}"></td>
                          <td th:text="${transaction.customer.firstName} + ' ' + ${transaction.customer.lastName}"></td>
                          <td th:text="&#x20B1;+${transaction.deliveryFee}"></td>
                          <td th:text="&#x20B1;+${transaction.serviceFee}"></td>
                          <td th:if="${transaction.promotion != null}" th:text="&#x20B1;+ ${transaction.promotion.discount} + ' Off'"></td>
                          <td th:if="${transaction.promotion == null}">&#x20B1; 0 Off</td>
                          <td th:text="&#x20B1;+ ${transaction.grandTotal}"></td>
                          <td th:text="${transaction.status}"></td>
                          <td th:text="${transaction.station}"></td>
                          <td th:text="${transaction.creationDate}"></td>
                          <td th:if="${transaction.rider != null}" th:text="${transaction.rider.firstName} + ' ' + ${transaction.rider.lastName}"></td>
                          <td th:if="${transaction.rider == null}" >No Rider Assigned</td>
                          <td><a th:href="@{/admins/histories?id=} + ${transaction.id}">View</a></td>
                        </tr>
                              
                    </tbody>
                </table>
            </div>
        </div> 

          <!-- table end -->
         

          <!-- footer start -->
          <footer th:replace="admins/footer :: admin-footer"></footer>
          <!-- footer end -->
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/table.js}"></script>
    <script type="text/javascript" th:src="@{/js/sidebar.js}"></script>
    
  </body>
</html>
